@model SqlD.UI.Models.SqlLiteViewModel

@if (Model.QueryResult != null && string.IsNullOrEmpty(Model.QueryResult.Error))
{
    <div id="queryPanel" class="panel panel-primary">
        <div class="panel-heading text-left">
            <div style="float:right">[ @Model.QueryResult.EndPoint.ToUrl() ]</div>
            Results
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    @foreach (var column in Model.QueryResult.Columns)
                    {
                        <th scope="col">@column</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var row in Model.QueryResult.Rows)
                {
                    <tr>
                        @foreach (var rowValue in row)
                        {
                            <th scope="row" style="font-weight:normal">@rowValue</th>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.QueryResult != null)
{
    <div id="queryPanel" class="panel panel-primary">
    <div class="panel-heading text-left">
        <div style="float:right">[ @Model.QueryResult.EndPoint.ToUrl() ]</div>
        Results
    </div>
    <div class="panel-body">
    <div class="alert alert-danger" role="alert">
        @Model.QueryResult.Error
    </div>
    </div>
    </div>
}