@model SqlD.UI.Models.Registry.RegistryViewModel

<div id="registryList" class="panel panel-primary">
    <div class="panel-heading text-left">
        <span style="float: right; top: -5px; position:relative">
            <a href="/service/create" class="btn btn-sm btn-default" title="Launch new service">
                <i class="fas fa-plus-circle"></i>
            </a>
        </span>
        Services
    </div>
    <div class="panel-body collapse" style="height:30px" aria-expanded="false">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Database</th>
                <th>Tags</th>
                <th>Uri</th>
                <th>Authority Uri</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var service in Model.Entries.OrderBy(x => x.Tags))
            {
                <tr>
                    <td align="left">@service.Name</td>
                    <td align="left">@service.Database</td>
                    <td align="left">@service.Tags</td>
                    <td align="left">@service.GetRedirectedUri(Context.Request)</td>
                    <td align="left">@service.GetRedirectedAuthorityUri(Context.Request)</td>
                    <td align="left">@service.LastUpdated</td>
                    <td align="center">
                        <a href="/service/edit/?host=@Html.Encode(service.Host)&port=@Html.Encode(service.Port)" class="btn btn-xs btn-success" title="Edit a service">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button service-uri="@service.GetRedirectedUri(Context.Request)" class="btn btn-xs btn-primary" title="Connect to @service.GetRedirectedUri(Context.Request)">
                            <i class="fas fa-plug"></i>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script>
	$(() => {

		// Toggle panel
		$('#registryList .panel-heading').on('click', (e) => {
			$('#registryList .panel-body').collapse('toggle');
		});

		// Registry url event
		$('#registryList button').on('click', (e) => {
			const registryUrlEventName = 'registry.url';
			let serviceUri = $(e.currentTarget).attr('service-uri');
			radio(registryUrlEventName).broadcast(serviceUri);
			$('#registryList .panel-body').collapse('toggle');
		});
	});
</script>