@model SqlD.UI.Models.Services.ServiceViewModel

@{
    ViewBag.Title = "services";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div id="registryList" class="panel panel-primary">
            <div class="panel-heading text-left">
                <span style="float: right; top: -5px; position:relative">
                    <a href="/service/create" class="btn btn-sm btn-default" title="Start/Create new service">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <a href="/service/forward/synchroniseall" class="btn btn-sm btn-danger" title="Synchronise all forwards">
                        <i class="fas fa-fast-forward"></i>
                    </a>
                </span>
                Services
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Database</th>
                        <th>Tags</th>
                        <th>Uri</th>
                        <th>Authority Uri</th>
                        <th>Last Updated</th>
                        <th width="134px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var service in Model.RegistryEntries.OrderBy(x => x.Tags))
                    {
                        <tr>
                            <td align="left">@service.Name</td>
                            <td align="left">@service.Database</td>
                            <td align="left">@service.Tags</td>
                            <td align="left">@service.GetRedirectedUri(Context.Request)</td>
                            <td align="left">@service.GetRedirectedAuthorityUri(Context.Request)</td>
                            <td align="left">@service.LastUpdated</td>
                            <td align="right">
                                <a target="_service_id_" href="@service.GetRedirectedUri(Context.Request)api/id" class="btn btn-xs btn-default" title="Service ID for @service.GetRedirectedUri(Context.Request)">
                                    <i class="far fa-id-card"></i>
                                </a>
                                <a target="_service_swag_" href="@service.GetRedirectedUri(Context.Request)swagger" class="btn btn-xs btn-default" title="Swagger for @service.GetRedirectedUri(Context.Request)">
                                    <i class="fas fa-battery-full"></i>
                                </a>
                                @if (!service.Tags.Contains("registry"))
                                {
                                <a href="/service/delete/?host=@Html.Encode(service.Host)&port=@Html.Encode(service.Port)" class="btn btn-xs btn-danger" title="Delete a service">
                                    <i class="fas fa-minus-circle"></i>
                                </a>
                                }
                                @if (!service.Tags.Contains("registry") && Model.ContainsConfig(service))
                                {
                                    <a href="/service/edit/?host=@Html.Encode(service.Host)&port=@Html.Encode(service.Port)" class="btn btn-xs btn-success" title="Edit a service">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                        var serviceModel = Model.Config.Services.First(x => x.IsEqualTo(service.EndPoint));
                        if (serviceModel.ForwardingTo.Any())
                        {
                            <tr>
                                <td colspan="8" align="left">
                                    <div class="panel panel-info" style="margin-bottom:0">
                                        <div class="panel-heading text-left" onclick="$(this).parent().find('.panel-body').toggle('.collapsed')" style="padding: 3px">
                                            <small>Forwards</small>
                                        </div>
                                        <div class="forward-panel-body panel-body collapsed" style="padding:0" aria-expanded="false">
                                            <table class="table table-condensed table-bordered table-condensed table-bordered" style="margin-bottom:0">
                                                <tbody>
                                                @foreach (var forward in serviceModel.ForwardingTo)
                                                {
                                                    var forwardServiceModel = Model.Config.Services.First(x => x.IsEqualTo(forward));
                                                    <tr>
                                                        <td>@forwardServiceModel.Name</td>
                                                        <td>@forwardServiceModel.Database</td>
                                                        <td>@forwardServiceModel.ToUrl()</td>
                                                        <td align="right" style="width: 128px">
                                                            <a href="/service/forward/delete?thisHost=@Html.Encode(forwardServiceModel.Host)&thisPort=@Html.Encode(forwardServiceModel.Port)&fromHost=@Html.Encode(serviceModel.Host)&fromPort=@Html.Encode(serviceModel.Port)" class="btn btn-xs btn-danger" title="Delete this forward">
                                                                <i class="fas fa-minus-circle"></i>
                                                            </a>
                                                            <a href="/service/forward/synchronise?thisHost=@Html.Encode(forwardServiceModel.Host)&thisPort=@Html.Encode(forwardServiceModel.Port)&fromHost=@Html.Encode(serviceModel.Host)&fromPort=@Html.Encode(serviceModel.Port)" class="btn btn-xs btn-danger" title="Synchronise with upstream">
                                                                <i class="fas fa-fast-forward"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>                                
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
