@model SqlD.UI.Models.SqlLiteViewModel

@if (Model.CommandResult != null)
{
    if (!string.IsNullOrEmpty(Model.CommandResult.Error))
    {
        <div id="queryPanel" class="panel panel-primary">
            <div class="panel-heading text-left">
                <div style="float:right">@Model.CommandResult.EndPoint.ToUrl() at @Model.StartDate.ToLongTimeString() in @DateTime.Now.Subtract(@Model.StartDate).TotalSeconds second(s)</div>
                Results
            </div>
            <div class="panel-body">
        <div class="alert alert-danger" role="alert">
            @Model.CommandResult.Error
        </div>
            </div>
        </div>
    }
    else
    {
        <div id="queryPanel" class="panel panel-primary">
            <div class="panel-heading text-left">
                <div style="float:right">@Model.CommandResult.EndPoint.ToUrl() at @Model.StartDate.ToLongTimeString() in @DateTime.Now.Subtract(@Model.StartDate).TotalSeconds second(s)</div>
                Results 
            </div>
            <div class="panel-body">
        <div class="alert alert-success" role="alert">
            @Model.CommandResult.Status.ToString()
        </div>
            </div>
        </div>
    }
}
else if (Model.DescribeResult != null)
{
    if (!string.IsNullOrEmpty(Model.DescribeResult.Error))
    {
        <div id="queryPanel" class="panel panel-primary">
            <div class="panel-heading text-left">
                <div style="float:right">@Model.DescribeResult.EndPoint.ToUrl() at @Model.StartDate.ToLongTimeString() in @DateTime.Now.Subtract(@Model.StartDate).TotalSeconds second(s)</div>
                Results
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" role="alert">
                    @Model.DescribeResult.Error
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="queryPanel" class="panel panel-primary">
            <div class="panel-heading text-left">
                <div style="float:right">@Model.DescribeResult.EndPoint.ToUrl() at @Model.StartDate.ToLongTimeString() in @DateTime.Now.Subtract(@Model.StartDate).TotalSeconds second(s)</div>
                Results 
            </div>
            <div class="panel-body">
                <div class="alert alert-success" role="alert">
                    Ok
                </div>
            </div>
        </div>
    }
}
